<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog_post.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @blog_post.genre %>
</p>


<% @blog_post.files.each do |file| %>
   <%= link_to file.filename, rails_blob_path(file, disposition: :inline) %>
 <% end %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
